/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.19;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #c2dfe3;
  font-family: Helvetica, sans-serif;
  color: #e0fbfc;
}
body h2 {
  font-size: 1.1rem;
  padding-bottom: 15px;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.banner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: #253237;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 40%;
}
.banner h1 {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #e0fbfc;
}
header {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: center;
  height: 50px;
}
header a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #253237;
  width: 22%;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #253237;
  top: -30px;
  bottom: 45px;
  left: 50%;
  margin-left: -3px;
}
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #e0fbfc;
  border: 4px solid #253237;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #c2dfe3;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #c2dfe3;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #c2dfe3;
  border-width: 10px 10px 10px 0;
  border-color: transparent #c2dfe3 transparent transparent;
}
.right::after {
  left: -16px;
}
.content {
  padding: 20px 30px;
  background-color: #253237;
  position: relative;
  border-radius: 6px;
}
.the-footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
footer {
  width: 15%;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 50px;
  border: 2px dashed white;
  background: #253237;
}
footer p {
  display: flex;
  padding-top: 15px;
}
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  header {
    justify-content: left;
  }
  .banner {
    margin: 0;
    margin-left: 11px;
  }
  .the-footer {
    justify-content: left;
    margin-left: 15px;
  }
  footer {
    min-width: 100px;
  }
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .left::after,
  .right::after {
    left: 15px;
  }
  .right {
    left: 0%;
  }
}
