/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 1200px;
}
.container header {
  width: 100%;
}
.container p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
.container h1 {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  margin: 15px;
}
.container h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 20px;
}
.container .main-name {
  display: flex;
  width: 100%;
  justify-content: center;
}
.container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container nav a {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.container .main-content {
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.container .container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1200px;
}
.container .intro {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 250px;
  margin: 0 auto;
  background: #bfbfbf;
  border-radius: 9px;
  justify-content: flex-start;
  align-items: center;
}
.container .work {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 250px;
  margin: 0 auto;
  background: #bfbfbf;
  border-radius: 9px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 150px;
}
.container .skills {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 250px;
  margin: 0 auto;
  background: #bfbfbf;
  border-radius: 9px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 150px;
}
.container .contact {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 250px;
  margin: 0 auto;
  background: #bfbfbf;
  border-radius: 9px;
  justify-content: flex-start;
  align-items: center;
}
.container .container-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1200px;
  border-left: 1px solid gray;
}
.container footer {
  display: flex;
  justify-content: center;
  background: #bfbfbf;
}
.container footer p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro .intro-title {
  content: "";
  position: relative;
  left: 60%;
  bottom: 15%;
  width: 11px;
  height: 11px;
  background: #336699;
  border-radius: 50%;
  align-items: center;
  display: flex;
}
.intro h2 {
  margin-left: -78px;
  padding-top: 5px;
}
.work .work-title {
  content: "";
  position: relative;
  left: 60%;
  bottom: 15%;
  width: 11px;
  height: 11px;
  background: #336699;
  border-radius: 50%;
  align-items: center;
  display: flex;
}
.work h2 {
  margin-left: -78px;
  padding-top: 5px;
}
.skills .skills-title {
  content: "";
  position: relative;
  right: 60%;
  bottom: 10%;
  width: 11px;
  height: 11px;
  background: #336699;
  border-radius: 50%;
  align-items: center;
  display: flex;
}
.skills h2 {
  margin-left: 18px;
  padding-top: 5px;
}
.contact .contact-title {
  content: "";
  position: relative;
  right: 60%;
  bottom: 10%;
  width: 11px;
  height: 11px;
  background: #336699;
  border-radius: 50%;
  align-items: center;
  display: flex;
}
.contact h2 {
  margin-left: 18px;
  padding-top: 5px;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    justify-content: space-evenly;
  }
}
